{% extends 'inventory/base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}
<h2> Estos son todas las compras registradas actualmente:</h2>
<table class="line-table">
    <thead>
      <tr>
        <th>Hora</th>
        <th>Menu Item</th>
        <th>Used ingredients</th>
      </tr>
    </thead>
    <tbody>
    {% for key in object_list %}
      <tr>
        <td>
          <li>{{ key.hour }}</li>
        </td>
        <td>
            <li><a href="{% url 'updatePurchased' key.id %}">{{ key.menuItem }}</a>
              <p>Price of the menu {{ key.menuItem.price }} - Price of the ingredient {{ key.recipeRequirement.ingredient.price }}</p>
              <p>Total revenue: {{ key.get_Total }}</p>
            </li>
        </td>     
        <td>
          <li>{{ key.recipeRequirement.ingredient }}</li>
      </td> 
        <td>
            <li><a href="{% url 'purchased_delete' key.id %}">X</a></li>
        </td>    
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
