{% extends 'inventory/base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}
<h2> Login!</h2>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="username">
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="pass">
    <input type="submit" name="" value="Login">
</form>
{% endblock %}
