{% extends 'inventory/base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}
<h2> Estos son todos los Platos disponibles actualmente:</h2>
<table class="line-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
    {% for key in object_list %}
      <tr>
        <td>
            <!-- #Esto va encerrado en un anchor -->
          {{ key.name }}
        </td>
        <td>
            <li>{{ key.price }}</li>
        </td> 
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
